@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

/*
 Variables
*/

$font_family_righteous: "Righteous", cursive;
$font_family_montserrat: "Montserrat", sans-serif;
$color_dark: #121212;
$color_light: #dfe6e9;
$color_primary: #16a085;
$color_primary--light: #1abc9c;
$color_accent: #0984e3;

/*
Reset
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  &::-webkit-scrollbar {
    display: none;
  }
  scroll-behavior: smooth;
}

/*
  Base Style
*/

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

body {
  background-color: $color_dark;
}

.main {
  padding: 0rem 3rem;
}

.color-primary {
  color: $color_primary;
}

.color-primary--light {
  color: $color_primary--light;
}

/*
  Scroll Timeline
*/

@scroll-timeline scrollProgress {
  time-range: 1s;
}

// 1. Header

.header {
  background-color: $color_dark;
  position: fixed;
  top: 0;
  width: 100%;

  .read-progression {
    height: 0.8rem;
    background-image: linear-gradient(
      to right,
      $color_accent,
      $color_primary--light
    );
    transform: translateX(-100%);

    animation: scrollProgress 1s linear both;
    animation-timeline: scrollProgress;
  }

  &--wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 0.6rem 2rem;
  }

  &__brand {
    color: $color_light;
    font-family: $font_family_righteous;
    font-size: 5rem;
    letter-spacing: 0.8rem;
    cursor: pointer;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
        0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

      animation: glitch 500ms infinite;

      span {
        &:first-child {
          animation: glitch 650ms infinite;
          clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
          transform: translate(-0.025em, -0.0125em);
          opacity: 0.8;
        }

        &:last-child {
          animation: glitch 375ms infinite;
          clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
          transform: translate(0.0125em, 0.025em);
          opacity: 0.8;
        }
      }
    }
  }

  &__nav {
    color: $color_light;
    font-family: $font_family_righteous;
    font-size: 3rem;

    display: flex;
    gap: 1rem;
    align-items: center;

    &-item {
      cursor: pointer;
      position: relative;
      padding: 0.4rem 1rem;

      border-width: 4px;
      border-style: solid;
      border-image: linear-gradient(45deg, $color_dark, $color_dark) 1;

      transition: border-image 0.4s ease-in;

      &:hover {
        // border: 4px solid $color_primary--light;
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(
            to right,
            $color_primary--light,
            $color_accent
          )
          1;
      }
    }

    &-link-wrapper {
      color: $color_light;
      padding-left: 2rem;
      font-size: 2.8rem;
      display: flex;
      gap: 1rem;
      .fa {
        cursor: pointer;
        &:hover {
          color: $color_primary--light;
        }
      }
    }
  }
}

// 2. Hero Section

.hero-section {
  margin-top: 20%;
  padding: 4rem 8rem;

  opacity: 1;
  animation: fadeOut 0.2s linear both;
  animation-timeline: scrollProgress;

  &__heading {
    font-size: 8rem;
    letter-spacing: 0.5rem;
    color: $color_light;
    font-family: $font_family_righteous;
    font-weight: normal;
  }
  &__cta {
    font-family: $font_family_montserrat;
    font-size: 1.8rem;
    padding-top: 2rem;
    letter-spacing: 0.2rem;
  }
}

// 3. About Section

.about-section {
  margin-top: 20%;

  &--wrapper {
    display: flex;
    gap: 1.8rem;
  }

  opacity: 0;
  animation: fadeIn 1s linear both;
  animation-timeline: scrollProgress;

  &__heading {
    font-family: $font_family_righteous;
    font-size: 4rem;
    margin-bottom: 2rem;

    background: linear-gradient(
      90deg,
      rgba($color_primary--light, 1) 0%,
      rgba($color_accent, 1) 45%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__container {
    color: $color_light;
    font-size: 1.8rem;
    font-family: $font_family_montserrat;
    letter-spacing: 0.1rem;
    background-color: #2d3436;
    padding: 1.2rem 1.8rem;
    box-shadow: 10px 10px $color_primary;
  }

  &__title {
    font-family: $font_family_righteous;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    color: $color_primary;
  }
}

// 4. Portfolio Section

.portfolio-section {
  margin-top: 20%;
}

// Back to top button

.back-to-top {
  height: 5rem;
  width: 5rem;
  background-color: $color_primary;
  border-radius: 50%;
  cursor: pointer;

  font-size: 2rem;
  font-family: $font_family_montserrat;
  font-weight: 700;

  display: none;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 5rem;
  right: 50%;
  z-index: 99;

  &:hover {
    background-color: $color_primary--light;
  }
}

.hide {
  display: none;
}

/*
  Keyframe Animations
*/

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@keyframes scrollProgress {
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
